@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

:root {
  color-scheme: light dark;
}

.core-scroll {
  scrollbar-width: thin;
}
